/* ---------- dark theme ---------- */

:root.theme-dark {
  --text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --accent-color: #ff0070;
  --accent-color-text: #000028;
  --background-color: #000028;
  --decoration-items-color: var(--accent-color, #ff0070);
  --header-button-color: var(--accent-color, #ff0070);
  --header-button-hover-border-color: rgba(255, 0, 112, 0.4);
  --header-bg-image: url('../images/cover-image-dark.png');
  --main-title-color: var(--accent-color, #ff0070);
}

.theme-dark .page .header__decoration-item {
  display: initial;
}
