/* ---------- light theme ---------- */

:root.theme-light {
  --text-color: #353430;
  --title-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-color-text: #353430;
  --background-color: #fff1f7;
  --decoration-items-color: var(--text-color, #353430);
  --header-button-color: var(--text-color, #353430);
  --header-button-hover-border-color: rgba(50, 49, 45, 0.4);
  --header-bg-image: url('../images/cover-image-light.png');
  --main-title-color: var(--text-color, #353430);
}

.theme-light .page .header__decoration-item {
  display: none;
}


@media screen and (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-color-text: #353430;
    --background-color: #fff1f7;
    --header-button-color: var(--text-color, #353430);
    --header-button-hover-border-color: rgba(50, 49, 45, 0.4);
    --header-bg-image: url('../images/cover-image-light.png');
    --header-decoration-items-color: var(--text-color, #353430);
    --main-title-color: var(--text-color, #353430);
  }
  
  .page .header__decoration-item {
    display: none;
  }
}