/* ---------- Styles variables ---------- */

:root {
  /* Theme colors */
  --text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --accent-color: #ff0070;
  --accent-color-text: #000028;
  --background-color: #000028;
  --decoration-items-color: var(--accent-color, #ff0070);
  --header-button-color: var(--accent-color, #ff0070);
  --header-button-hover-border-color: rgba(255, 0, 112, 0.4);
  --header-bg-image: url('../images/cover-image-dark.png');
  --main-title-color: var(--accent-color, #ff0070);

  /* Page text styles */
  --text-font: 'IBM Plex mono', sans-serif;
  --text-font-size: 18px;
  --text-line-height: 1.3;

  /* Size styles */
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --padding-section: 10px;
  --padding-section-main: 40px 10px;
  --main-sections-gap: 50px;
  --gallery-item-gap: 10px;
}

/* ---------- Media queries ---------- */

@media screen and (width >= 768px) {
  :root {
    --padding-section: 20px;
    --padding-section-main: 60px 20px;
    --main-sections-gap: 80px;
    --gallery-item-gap: 20px;
  }
}

@media screen and (width >= 1024px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}