/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --accent-color: #ff0070;
  --background-color: #000028;

  --text-font: 'IBM Plex mono', sans-serif;
  --text-font-size: 18px;
  --text-line-height: 1.3;

  --title-font-size: 116px;
  --header-bg-image: url('../images/cover-image-dark.png');
}